.periodNavigationFrame {
    background-color: white;
    position: relative;
    top: 5px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}

.periodNavigationTime {
    background-color: white;
    position: relative;
    top: 5px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
}

.periodOKButton {
    position: relative;
    top: 5px;
    width: 500px;
    height: 100px;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
    background-color: white;
    color: #662D91;
    font-size: 45px;
    border-radius: 15px 15px 15px 15px;
}