/* 설문 제작 페이지에서 쓰일 css */
/* CreateSurveyPage.js */
.create-survey-layout {
  padding-bottom: 100px;
}

.create-survey-layout input[type=text] {
  width: 100%;
}

.create-survey-form {
  background-color: #F9F9F9
}

/* components/CreateSurvey */
.create-survey-cardlist {
  text-align: center;
}

.create-survey-card {
  border: 1px black solid;
  margin: 3rem;
}

.create-survey-addcard {
  background-color: white;
  width: 50%;
  padding: 10px 12px 0px 12px;
  margin: auto;
  border: 2px black solid;
  border-radius: 5px;
}

.create-survey-addcard button {
  width: 100%;
  border-radius:2px;
}