/* 설문 공유 페이지에서 쓰일 css */

.deploySurveyPage {
    background-color: #e0dfdf;
    width: auto;
    height: 930px;
    align-content: center;
}

.MainFrame {
    background-color: white;
    position: relative;
    top: 20px;
    height: 610px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}

.deploySurvey {
    background-color: #883ECC;
    position: relative;
    top: 5px;
    height: 565px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}

.deployInfo {
    position: relative;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
}

.info {
    position: relative;
    text-align: left;
    height: auto;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px; 
    color: white;
    line-height: 80px;
    background-color: #A76BD3;
    border-radius: 15px 15px 15px 15px;
    font-size: x-large;
    text-indent: 1em;
}

.deployLink {
    position: relative;
    top: 15px;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    background-color:white;
    border-radius: 15px 15px 15px 15px;
    text-align: left;
    font-size: 25px;
    text-indent: 1em;
}

.linkBtn {
    position: relative;
    background-image: url('../images/deployButton/linkBtn.png');
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    float: right;
    top:4px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
}

.deployQR {
    position: relative;
    width: max-content;
    height: auto;
    top:30px;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
    background-color:white;
    border-radius: 15px 15px 15px 15px;
    left:40%;
}

.qrBtn {
    position: relative;
    background-image: url('../images/deployButton/qrBtn.png');
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    float: right;

    float:right;    
    width: 30px;
    height: 30px;
    opacity: 0.5;
}

.homeBtnFrame {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.goDeployHomeBtn {
    position: relative;
    top: 25px;
    width: 600px;
    height: 100px;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    background-color: #662D91;
    color: white;
    font-size: 45px;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}