/* 응답 완료 페이지에서 쓰일 css */
.finish-response-layout {
    padding-bottom: 100px;
    background: linear-gradient(264.61deg, #87DF41 -9.34%, #00AB4F 101.57%);
}

.finish-response-thankBox {
    max-width: 500px;
    height: 530px;
    margin: 170px auto 250px;
    padding: 120px 55px;
    text-align: center;
    background-color: white;
}

.finish-response-exit {
    background-color: #662D91;
    color: white;

    width: 100%;
    height: 45px;
    border-radius: 15px;
}