#main-footer {
    background: #343a40;
    color : #fff;
}

.footer-tos {
    color: #d5eef3;
    text-decoration: none;
}

.footer-service {
    color: #d5eef3;
    text-decoration: none;
}

.footer-privacy {
    color: #d5eef3;
    text-decoration: none;
}

.footer-faq {
    color: #d5eef3;
    text-decoration: none;
}