/* Home page css */
.homePage {
  background-image: url(../images/Home.png);
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  height: 1700px;
}


.logoBtn {
    background-image: url(../images/Logo\ for\ banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 20px;
    left: 50px;
    width: 350px;
    height: 30px;
    opacity: 0.6;
  }
  
  .loginBtn {
    position: absolute;
    top: 20px;
    right: 500px;
    width: 100px;
    height: 30px;
    opacity: 0.6;
  }
  
  .myBtn {
    position: absolute;
    top: 20px;
    right: 450px;
    width: 30px;
    height: 30px;
    opacity: 0.6;
  }
  
  .homeBtn {
    position: absolute;
    top: 95px;
    left: 20px;
    width: 150px;
    height: 30px;
    opacity: 0.6;
  }

  .slideLeftBtn {
    position: absolute;
    top: 400px;
    left: 70px;
    width: 30px;
    height: 30px;
    opacity: 0.6;
  }

  
  .slideRightBtn {
    position: absolute;
    top: 400px;
    right: 470px;
    width: 30px;
    height: 30px;
    opacity: 0.6;
  }

  .slideRightBtn {
    position: absolute;
    top: 400px;
    right: 470px;
    width: 30px;
    height: 30px;
    opacity: 0.6;
  }

  .tosLink {
    position: absolute;
    top: 860px;
    left: 75px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }

  .serviceLink {
    position: absolute;
    top: 900px;
    left: 75px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }

  .privacyLink {
    position: absolute;
    top: 940px;
    left: 75px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }

  .faqLink {
    position: absolute;
    top: 980px;
    left: 75px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }