/* Home page css */


  .tosLink {
    position: absolute;
    top: 860px;
    left: 75px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }

  .serviceLink {
    position: absolute;
    top: 900px;
    left: 75px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }

  .privacyLink {
    position: absolute;
    top: 940px;
    left: 75px;
    width: 150px;
    height: 30px;
    opacity: 0.6;
  }

  .faqLink {
    position: absolute;
    top: 980px;
    left: 75px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }