/* 헤더 레이아웃 */
/* 헤더의 상단 */
.header-top {
    height: 72px;
    padding: 0px 0px 0px 0px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.header-logo-green {
    background-image: url(../images/logo/Icon-logo-black.png);
    background-size: 300px;
    background-repeat: no-repeat;
    left: 0px;

    /* cursor: pointer; */
}

.header-logo-purple {
    background-image: url(../images/logo/Icon-logo-black.png);
    background-size: 300px;
    background-repeat: no-repeat;

    /* cursor: pointer; */
}

.header-logohome {
    width: 280px;
    height: 55px;
    opacity: 0;

}

.header-login {
    color: #662D91;
    text-decoration: none;
}

/* 헤더의 하단 */
.header-bottom {
    height: 60px;
    border-radius: 0px 0px 45px 0px;
    display: flex;
    flex-wrap: wrap;
}

.header-homelink {
    align-self: center;
}

.header-homelink a:link,
.header-homelink a:visited,
.header-homelink a:hover,
.header-homelink a:active {
    color: white;
    text-decoration: none;
}