/* Login page css */



  .googleLoginBtn {
    position: static;
    margin: auto;
  }

  .facebookLoginBtn {
    background-image: url(../images/login/Facebook.png);
    position: static;
    width: 205px;
    height: 40px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .kakaoLoginBtn {
    background-image: url(../images/login/Kakao.png);
    position: static;
    width: 205px;
    height: 50px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .naverLoginBtn {
    position: static;
    top: 620px;
    left: 475px;
  }


  .tosLink_login {
    position: absolute;
    top: 940px;
    left: 630px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }

  .privacyLink_login {
    position: absolute;
    top: 940px;
    left: 750px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }


