/* Login page css */


  .googleLoginBtn {
    position: absolute;
    top: 320px;
    left: 475px;
    width: 500px;
    height: 80px;
    opacity: 0.6;
  }

  .facebookLoginBtn {
    position: absolute;
    top: 420px;
    left: 475px;
    width: 500px;
    height: 80px;
    opacity: 0.6;
  }

  .kakaoLoginBtn {
    background-image: url(../images/login/Kakao.png);
    position: absolute;
    top: 520px;
    left: 475px;
    width: 500px;
    height: 80px;
    margin: auto;
    background-size: contain;
  }

  .naverLoginBtn {
    position: absolute;
    top: 620px;
    left: 475px;
    width: 500px;
    height: 80px;
    opacity: 0.6;
  }

  .tosLink_login {
    position: absolute;
    top: 940px;
    left: 630px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }

  .privacyLink_login {
    position: absolute;
    top: 940px;
    left: 750px;
    width: 130px;
    height: 30px;
    opacity: 0.6;
  }

