/* MyInfo page css */
.myInfoPage {
  background-image: url(../images/MyInfo.png);
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  height: 1700px;
}


.logoBtn {
    background-image: url(../images/Logo\ for\ banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 20px;
    left: 50px;
    width: 350px;
    height: 30px;
    opacity: 0.6;
  }
  
  .loginBtn {
    position: absolute;
    top: 20px;
    right: 500px;
    width: 100px;
    height: 30px;
    opacity: 0.6;
  }
  
  .myBtn {
    position: absolute;
    top: 20px;
    right: 450px;
    width: 30px;
    height: 30px;
    opacity: 0.6;
  }
  
  .homeBtn {
    position: absolute;
    top: 95px;
    left: 20px;
    width: 150px;
    height: 30px;
    opacity: 0.6;
  }
  
  .questionariesBtn {
    position: absolute;
    top: 550px;
    left: 375px;
    width: 200px;
    height: 200px;
    opacity: 0.6;
  }

  .secessionBtn {
    position: absolute;
    top: 820px;
    left: 600px;
    width: 250px;
    height: 80px;
    opacity: 0.6;
  }