/* MyInfo page css */

  .secessionBtn {
    flex:1;
    float: center;
    width: 30%;
    padding:10px;
 
  }

  .UserInfo img {
    width: 180px;
    border-radius: 50%;
}

.UserInfo{
    text-align: center;
    padding-top: 30px;
}

.user_info {
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0;
}