/* 설문 제작함 페이지에서 쓰일 css */
.CardContainer {
  border-radius: 25px;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  background: rgba(33, 33, 33, 0.975);
}

.NewQustButtonFloat{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.QustCardOptionButtonFloat{
  
}