/* 배포 전 날짜 및 그룹 설정 페이지에서 쓰일 css */
.setSurveyPerTarPage {
    background-color: white;
    width: auto;
    height: 1400px;
    align-content: center;
    text-align: center;
}

.setPerTarMainFrames {
    background-color: #f7f7f7;
    position: relative;
    top: 30px;
    width: min-content;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 2px 2px #999;
    align-items: center;
}

.perTarContainer {
    background-color: #883ECC;
    position: relative;
    width: min-content;
    top: 10px;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    align-items: center;
}

.periodFirstText {
    position: relative;
    color: #464A56;
    font-size: 50px;
    align-content: center;
    margin: 10px 10px 10px 10px;
    border: 10px 10px 10px 10px;
    text-align: center;
}

.setTargetFrame {
    background-color: white;
    position: relative;
    top: 50px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}

.setTarget {
    background-color: #883ECC;
    position: relative;
    top: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}

.deployBtn {
    position: relative;
    top: 30px;
    width: 600px;
    height: 120px;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
    background-color: #662D91;
    color: white;
    font-size: 45px;
    border-radius: 15px 15px 15px 15px;
}

.periodText {
    text-align: center;
    display:inline-flex;
}
  
.periodTxt {
    color:white;
    font-size:20px;
}
  
