/* 배포 전 날짜 및 그룹 설정 페이지에서 쓰일 css */
.setSurveyPerTarPage {
    background-color: #e0dfdf;
    width: auto;
    height: 2300px;
    text-align: center;
}

.setPeriodFrame {
    background-color: white;
    position: relative;
    top: 30px;
    margin: 10px 10px 10px 10px;
    padding: 30px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}

.setPeriod {
    background-color: #883ECC;
    position: relative;
    top: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}

.periodFirstText {
    position: relative;
    color: #464A56;
    font-size: 50px;
    align-content: center;
    margin: 10px 10px 10px 10px;
    border: 10px 10px 10px 10px;
    text-indent: 8em;
}

.setTargetFrame {
    background-color: white;
    position: relative;
    top: 50px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}

.setTarget {
    background-color: #883ECC;
    position: relative;
    top: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
}

.deployBtn {
    position: relative;
    top: 70px;
    width: 600px;
    height: 100px;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    background-color: #662D91;
    color: white;
    font-size: 45px;
    border-radius: 15px 15px 15px 15px;
}