/* 결과 분석 페이지에서 쓰일 css */
.survey-result-layout {
    padding-bottom: 100px;
    background: #515151;
}

.survey-result-tab {
    background: white;
}

.survey-result-info {
    background: white;
    font-size: 48px;
}

.survey-result-statlist {}

.survey-result-stat {
    background: white;
    border-radius: 5px;
}

.survey-result-chans {
    margin: 0px 10px;
    border: 1px solid black;
}

.survey-result-subans {
    margin: 0px 10px;
    border: 1px solid black;
    max-height: 150px;
    overflow-y: auto;
}