/* 결과 분석 페이지에서 쓰일 css */
.finishResponse {
    background-image: url(../images/survey_result.png);
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 5900px;
}

.showStatisticBtn {
    position: absolute;
    top: 165px;
    right: 740px;
    width: 100px;
    height: 30px;
    opacity: 0.6;
}

.showAnalysisBtn {
    position: absolute;
    top: 165px;
    right: 590px;
    width: 100px;
    height: 30px;
    opacity: 0.6;
}

.downloadResultBtn{
    position: absolute;
    top: 5750px;
    left: 470px;
    width: 500px;
    height: 100px;
    opacity: 0.6;
}