.tosPage {
  background-color: white;
  width: auto;
  height: max-content;
  align-content: center;
}

.TosMainFrame {
  background-color: #f7f7f7;
  position: relative;
  top: 20px;
  height: max-content;
  margin: 20px 20px 20px 20px;
  padding: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 2px 2px #999;
}

.TosSubFrame {
  background-color: #883ECC;
  position: relative;
  top: 5px;
  height: max-content;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px 15px 15px 15px;
}

.TosContentFrame {
  position: relative;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}

.TosContentLink {
  position: relative;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px 15px 15px 15px;
  background-color: white;

  color: #883ECC;
  line-height: 1.8em;
}